:root{
    --disagro-primary: #3E3E3E;
    --disagro-secondary: #46AD52;
    --disagro-text-primary-color: #fff;
    --disagro-background-color: #FAFAFA;
    --disagro-background-form-color: #FFFFFF;
    --disagro-button-color: #484ED9;
}